@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: myfont;
    src: url(/adelia_3/adelia.ttf);
}
body{
    background-color: rgb(254, 254, 254);
    margin: 10px;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}
.container{
    /* background-color: aqua; */
    max-width: 95%;
}
.logo-container{
    padding: 0;
    margin: 0;
}
.logo{
    color: black;
    font-family: "Roboto", sans-serif;
}
.logo > span{
    color: rgb(200, 9, 9);
    /* font-size: 50px; */
}
nav{
    display: flex;

}
nav > ul{
    display: flex;

}
nav > ul > li{
    list-style: none;
    padding: 10px 20px;
}
nav > ul > li > a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}
nav > ul > li > a:hover{
    color: rgb(200, 9, 9);
}
nav > div{
    display: flex;
    align-items: center;
}
nav > div > p{
    padding: 0 5px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}
nav > div > .en{
    text-decoration: underline;
    font-weight: bold;
}
nav > div > p:hover{
    color: #f17015;
}
nav > div > button{
    background-color: black;
    border: none;
    color: white;
    padding: 10px;
    font-size: 17px;
    margin-left: 10px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}
main{
    margin: 0 20px;
    /* background-color: blue; */
    width: 100%;
    height: 100vh;
}
.hero-section{
    position: relative;
    border-bottom: 2px solid black;
    /* background-color: blue; */
}
.welcome-statement{
    padding: 10px;
    margin-top: 40px;
}
.welcome-statement > p{
    text-align: center;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
}
.skill-title{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.skill-title > p{
    text-align: center;
    font-size: 7pc;
    line-height: 150px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}
.skill-title > p > span{
    color: rgb(254, 254, 254);
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
    z-index: -10000;
}
.location{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: aquamarine; */
    margin-top: 20px;
    padding: 10px;
}
.current-location > p{
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    color: #000;
    text-decoration: underline;
}
/* .doc-links{
    background-color: blue;
} */
.doc-links > a > button{
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    background-color: #000;
    padding: 10px;
    cursor: pointer;
    margin: 11px;
}
.cv-download{
    border: none;
    color: #fff;
}
.doc-links > a > .Portfolio-button{
    background-color: white;
    border: 2px solid black;
    color: black;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.doc-links > a > .Portfolio-button:hover{
    background-color: #f17015;
    color: white;
}
.amrita{
    font-family: Arial, Helvetica, sans-serif;
}
.apple{
    font-family: "Roboto", sans-serif;
}
.profile{
    position: absolute;
    width: 500px;
    height: 500px;
    top: 51%;
    left: 50%;
    translate: -50% -50%;
    z-index: -2;
    background-image: url(../images/profile-background2.png);
    border-radius: 50%;
}
.profile > img{
    width: 100%;
    height: 100%;
    filter: grayscale(1);
}
.services, .skills-experience, .projects{
    background-color: #2c72b4;
    width: 100%;
    border-radius: 15px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.skills-experience{
    background-color: rgb(254, 254, 254);
    background-image: url(../images/service_background_image.png);
    background-position: right;
    background-repeat: no-repeat;
}
.services-offer, .skills-offer{
    /* background-color: #d48b8b; */
    padding: 45px;
    max-width: 40%;
    position: relative;
}
.services-header, .skills-header{
    /* background-color: aquamarine; */
    font-family: "Roboto", sans-serif;
}
.services-header > p, .skills-header > p, .project-header > p{
    font-size: 15px;
    transform: rotate(-50deg);
    position: absolute;
    left: 0%;
    top: 5%;
    color: #d5e3f0;
}
.skills-header > p{
    color: #04121a;
}
.services-header > h2, .skills-header > h2, .project-header > h2{
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    color: white;
}
.skills-header > h2{
    color: #04121a;
}
.services-discription, .experience{
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: #d5e3f0;
    font-weight: lighter;
    margin-top: 15px;
}
.experience{
    color: #0b2d40;
    font-weight: 300;
}
.text{
    margin-top: 150px;
}
.text > h2{
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: italic;
}
.text > h2 > span{
    color: #d5e3f0;
}
.offer-lists, .experience-lists{
    /* background-color: aqua; */
    max-width: 50%;
    padding: 35px;
}
.offer-lists > div, .experience-lists > div{
    /* background-color: #2c72b4; */
    width: 100%;
    border-top: 2px solid black;
    padding: 10px;
}
.experience-lists > h2{
    color: #04121a;
    font-family: "Roboto", sans-serif;
    margin-bottom: 5px;
}
.offer1, .experience1{
    display: flex;
    gap: 15px;
}
.offer-number, .offer-name, .explore, .experience-date, .experience-name{
    font-family: "Roboto", sans-serif;
    color: white;
}
.experience-date, .experience-name{
    color: #04121a;
}
.experience-date > h3{
    font-size: 18px;
}
.experience-name > h3{
    font-size: 23px;
}
.offer-number > h3{
    font-size: 20px;
}
.offer-name > h3{
    font-size: 25px;
}
.experience2{
    /* background-color: aquamarine; */
    padding: 20px;
}
.offer2{
    display: flex;
    gap: 170px;
    padding-top: 40px;
    align-items: center;
}
.explore > h4, .experience2 > h4{
    font-size: 15px;
    font-weight: lighter;
    margin-left: 50px;
    color: #d5e3f0;
}
.experience2 > h4{
    margin-left: 70px;
    color: #0b2d40;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
.offer-link{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f17015;
    border-radius: 50%;
}
.offer-link > img{
    width: 60%;
    height: 60%;
}
.cursor{
    background-color: rgb(245, 237, 237);
    height: 300px;
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, red, blue);
    filter: blur(150px);
    z-index: -1;
    animation: rotate 20s infinite;
}
@keyframes rotate {
    from{
        rotate: 0deg;
    }
    50%{
        scale: 1 1.5;
    }
    to{
        rotate: 360deg;
    }
}
.skills-set{
    /* background-color: #2c72b4; */
    margin-top: 50px;
}
.skills-section > h3{
    font-family: "Roboto", sans-serif;
    font-size: 23px;
    color: #04121a;
    margin-bottom: 10px;
}
.skills-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.skills-list > div{
    /* background-color: #f17015; */
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.skills-list > div > .skill-img{
    width: 50px;
    height: 50px;
    background-color: #2c72b4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills-list > div > .skill-img > img{
    width: 70%;
    height: 70%;
}
.skills-list > div > h4{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300px;
    color: #0b2d40;
}
.projects{
    display: block;
    /* background-color: #f17015; */
}
.project-display{
    position: relative;
    padding: 45px;
    margin-left: 100px;
}
.project-header > p{
    margin-top: 10px;
}
.project-list{
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    /* background-color: aquamarine; */
}
.project-list > div > img{
    width: 400px;
}
.project-list > div > h3{
    color: #d5e3f0;
    margin: 10px 0px 10px 0px;

}
.project-list > div > p{
    color: #d5e3f0;
    font-family: "Roboto", sans-serif;
}