@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(254, 254, 254);
    margin: 10px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}
.logo-container{
    padding: 0;
    margin: 0;
}
.logo{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.logo > span{
    color: rgb(200, 9, 9);
}
nav{
    display: flex;

}
nav > ul{
    display: flex;

}
nav > ul > li{
    list-style: none;
    padding: 10px 20px;
}
nav > ul > li > a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}
nav > ul > li > a:hover{
    color: rgb(200, 9, 9);
}
nav > div{
    display: flex;
    align-items: center;
}
nav > div > p{
    padding: 0 5px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}
nav > div > .en{
    text-decoration: underline;
    font-weight: bold;
}
nav > div > p:hover{
    color: rgb(221, 221, 8);
}
nav > div > button{
    background-color: black;
    border: none;
    color: white;
    padding: 10px;
    font-size: 17px;
    margin-left: 10px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}
main{
    margin: 0 20px;
}
.welcome-statement{
    padding: 10px;
    margin-top: 40px;
}
.welcome-statement > p{
    text-align: center;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
}
.skill-title{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.skill-title > p{
    text-align: center;
    font-size: 11pc;
    line-height: 150px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}
.skill-title > p > span{
    color: rgb(254, 254, 254);
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
    z-index: -10000;
}
.location{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aquamarine; */
    margin-top: 20px;
    padding: 10px;
}
.location > p{
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    margin-left: 12%;
    text-decoration: underline;
}
.location > div{
    display: flex;
    padding: 15px;
    /* background-color: blueviolet; */
    margin-right: 12%;
}
.location > div > p{
    font-size: 25px;
    color: black;
    padding: 0 20px;
}
.google{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}
.latlux{
    font-family: "Dancing Script", cursive;
    font-weight: lighter;
}
.amrita{
    font-family: Arial, Helvetica, sans-serif;
}
.apple{
    font-family: "Roboto", sans-serif;
}
.profile{
    position: absolute;
    width: 500px;
    height: 500px;
    top: 70%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
}
.profile > img{
    width: 100%;
    height: 100%;
    filter: grayscale(1);
}